<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间就是为了防止重复用的，你可以使用自定义的命名，也可以使用某个接口的全限定名称-->
<mapper namespace="org.example.mapper.EmployeeMapper">

    <!--复杂映射关系-->
    <resultMap id="EmployeeResultMap" type="org.example.entity.Employee">
        <id column="emp_id" property="id"/>
        <!--这里就是做了别名映射，让sql里的列名与java中的别名对应映射起来-->
        <result column="emp_name" property="employeeName"/>

        <!--直接去做封装，这就是结果嵌套，你当然可以注释掉association标签，但是这样结果中的employee就显示不出相应的dept了-->
        <association property="dept" javaType="org.example.entity.Dept">
            <id column="dep_id" property="id"/>
            <result column="dep_name" property="deptName"/>
        </association>
    </resultMap>

    <select id="select" resultMap="EmployeeResultMap">
        select id emp_id, name emp_name from employee where dept_id = #{dep_id}
    </select>
</mapper>